<p>
    {{local.p1}}
</p>

<ol>
    <li>
        {{local.ol.li1}}
    </li>
    <li>
        {{local.ol.li2}}
    </li>
    <li>
        {{local.ol.li3}}
    </li>
    <li>
        {{local.ol.li4}}
    </li>
</ol>

<p>
    {{{local.p2}}}
</p>
<p>
    {{local.p3}}
</p>
<p>
    {{local.p4}}
</p>
