
<table class="table table-striped">
    <tbody>
        <tr>
            <td>{{local.table.tr1.td1}}</td>
            <td>{{local.table.tr1.td2}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr2.td1}}</td>
            <td>{{local.table.tr2.td2}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr3.td1}}</td>
            <td>{{local.table.tr3.td2}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr4.td1}}</td>
            <td>{{{local.table.tr4.td2}}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr5.td1}}</td>
            <td>{{local.table.tr5.td2}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr6.td1}}</td>
            <td>{{local.table.tr6.td2}}</td>
        </tr>
        <tr>
            <td>{{local.table.tr7.td1}}</td>
            <td>{{local.table.tr7.td2}}</td>
        </tr>
    </tbody>
</table>