<!DOCTYPE html>
<html lang="{{culture}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{title}}</title>
        <link href="{{prefix}}favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="{{prefix}}vendor/normalize/normalize.css" rel="stylesheet" type="text/css">
        <link href="{{prefix}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{prefix}}css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="./index.html" title="Home">
                                <img align="left" alt="Home" id="logo" src="{{prefix}}img/logo.png" />
                            </a>
                            <div id="contacts">
                                <p id="langMenu"><a href="{{culturePrefix}}{{file}}">{{local.lang}}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                <li><a{{link "./index"}}>{{local.menu.index}}</a></li>
                                <li><a{{link "./team"}}>{{local.menu.team}}</a></li>
                                <li><a{{link "./investment-criteria"}}>{{local.menu.investment}}</a></li>
                                <li><a{{link "./value-proposition"}}>{{local.menu.proposition}}</a></li>
                                <li><a{{link "./portfolio"}}>{{local.menu.portfolio}}</a></li>
                                <li><a{{link "./contacts"}}>{{local.menu.contacts}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{{body}}}
                </div>
            </div>
        </div>
        <script src="{{prefix}}vendor/jquery/jquery-3.1.1.min.js" type="application/javascript"></script>
        <script src="{{prefix}}vendor/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    </body>
</html>