
<p>
    <span>A. <strong>{{local.a.name}}</strong></span>
</p>
<p>
    <span>{{local.a.desc}}</span>
    <span>
        <a href="http://www.bethowen.ru/">
            <span>www.bethowen.ru</span>
        </a>
    </span>
</p>

<p>
    <span>B. <strong>{{local.b.name}}</strong></span>
</p>
<p>
    <span>{{local.b.desc}}</span>
    <span>
        <a href="http://www.at-consulting.ru/">
            <span>www.at-consulting.ru</span>
        </a>
    </span>
</p>

<p>
    <span>C. <strong>{{local.c.name}}</strong></span>
</p>
<p>
    <span>{{local.c.desc}}</span>
    <span>
        <a href="http://www.bagrationi.ge/">
            <span>www.bagrationi.ge</span>
        </a>
    </span>
</p>