<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a class="team-img" data-toggle="modal" data-target="#modal-a">
                    <img src="{{prefix}}img/icon_levan.jpg" alt="Levan Vasadze"/>
                </a>
                <div><strong>{{local.a.name}}</strong>, {{local.a.job}}</div>
                <div>{{local.a.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.a.desc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a class="team-img" data-toggle="modal" data-target="#modal-b">
                    <img src="{{prefix}}img/icon_tom.jpg" alt="Tom Kosco"/>
                </a>
                <div><strong>{{local.b.name}}</strong>, {{local.b.job}}</div>
                <div>{{local.b.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.b.desc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a class="team-img" data-toggle="modal" data-target="#modal-c">
                    <img src="{{prefix}}img/icon_dmitriy.jpg" alt="Dmitriy Manakov"/>
                </a>
                <div><strong>{{local.c.name}}</strong>, {{local.c.job}}</div>
                <div>{{local.c.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.c.desc}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal A -->
<div class="modal fade" id="modal-a" tabindex="-1" role="dialog" aria-labelledby="modal-a-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="team-close-btn">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{local.a.name}}</h4>
            </div>
            <div class="modal-body text-center">
                <img src="{{prefix}}img/levan.jpg" alt="Levan Vasadze" style="width: 100%; max-width: 532px"/>
            </div>
        </div>
    </div>
</div>

<!-- Modal B -->
<div class="modal fade" id="modal-b" tabindex="-1" role="dialog" aria-labelledby="modal-b-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="team-close-btn">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{local.b.name}}</h4>
            </div>
            <div class="modal-body text-center">
                <img src="{{prefix}}img/tom.jpg" alt="Tom Kosco" style="width: 100%; max-width: 491px"/>
            </div>
        </div>
    </div>
</div>

<!-- Modal C -->
<div class="modal fade" id="modal-c" tabindex="-1" role="dialog" aria-labelledby="modal-c-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="team-close-btn">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{local.c.name}}</h4>
            </div>
            <div class="modal-body text-center">
                <img src="{{prefix}}img/dmitriy.jpg" alt="Dmitriy Manakov" style="width: 100%; max-width: 168px"/>
            </div>
        </div>
    </div>
</div>