<p>
    <img src="{{prefix}}images/icon_levan.jpg" alt="Levan"/>
    <div>{{local.a.name}}</div>
    <div>{{local.a.job}}</div>
    <div>{{local.a.summary}}</div>
    <div>{{local.a.desc}}</div>
</p>

<p>
    <img src="{{prefix}}images/icon_tom.jpg" alt="Top"/>
    <div>{{local.b.name}}</div>
    <div>{{local.b.job}}</div>
    <div>{{local.b.summary}}</div>
    <div>{{local.b.desc}}</div>
</p>

<p>
    <img src="{{prefix}}images/manakov1.jpg" alt="Dmitriy"/>
    <div>{{local.c.name}}</div>
    <div>{{local.c.job}}</div>
    <div>{{local.c.summary}}</div>
    <div>{{local.c.desc}}</div>
</p>