<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href="{{prefix}}img/levan.jpg" target="_blank" class="team-img">
                    <img src="{{prefix}}img/icon_levan.jpg" alt="Levan Vasadze"/>
                </a>
                <div><strong>{{local.a.name}}</strong>, {{local.a.job}}</div>
                <div>{{local.a.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.a.desc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href="{{prefix}}img/tom.jpg" target="_blank" class="team-img">
                    <img src="{{prefix}}img/icon_tom.jpg" alt="Tom Kosco"/>
                </a>
                <div><strong>{{local.b.name}}</strong>, {{local.b.job}}</div>
                <div>{{local.b.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.b.desc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <a href="{{prefix}}img/dmitriy.jpg" target="_blank" class="team-img">
                    <img src="{{prefix}}img/icon_dmitriy.jpg" alt="Dmitriy Manakov"/>
                </a>
                <div><strong>{{local.c.name}}</strong>, {{local.c.job}}</div>
                <div>{{local.c.summary}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team-desc">{{local.c.desc}}</div>
            </div>
        </div>
    </div>
</div>